body {
    background-color:#AEA79F
}

.btn {
    background: #77216F
}

h1, h2, h3, p {
    color: #111111
}

.header {
    color: #fff
}

#home-btn {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media only screen and (max-width: 600px) {
   .card, .card-header, .card-body, img, .card-text {
       display: flex;
       flex-direction: column;
       width: 100%;
       height: auto;
   }
}